/* stylelint-disable no-duplicate-selectors */

/* deel 1: start CSS */

* {
   margin: 0;
   padding: 0;
}

html {
   background-image: url(../img/tile.png);
   background-color: #fff;
   background-position: center;   
   background-repeat: repeat;
   background-size: auto;
}

body {
   background-image: url(../img/bg.png);
   background-repeat: no-repeat;
   background-position: center;
   background-size: 500px;
   border:  20px solid white;
   height: 800px;
   margin: 50Px auto;
   max-width: 300px;
   padding: 5px 100px;
}

h1 {
   margin-top: 30px;
}

main {
   padding-top: 30px;
}

mark {
   background-color: transparent;
}

footer {
   margin-top: 35px;
}

.caveat-uniquifier {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: ;
  font-style: normal;
}



 


/* deel 4: tekstopmaak */


/* deel 5: schaduwen */
